<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>爱库存局域网文件传输平台</title>
    <script src="/static/js/vue3.js"></script>
    <script src="/static/js/axios.js"></script>
</head>
<body>
    <div id="app" style="text-align: center">
        <p>[[message]]</p>
    </div>
    <script>
        const EventHandling = {
            delimiters: ['[[', ']]'], // 可自定义符号
            data() {
                return {
                    message: '讲一个笑话'
                }
            },
            methods: {
                postData(){
                    // let jsons={
                    // 	"username":"admin",
                    // 	"password":"Aikucun2020"
                    // };

                    // let data = new FormData();
                    // data.append('username','admin');
                    // data.append('password','Aikucun2020');

                    let formData = JSON.stringify({username:'admin',password:'admin666'});
                    axios({
                        method: 'post',
                        url:'http://localhost/user/login',
                        // data:data,
                        data:formData,
                    }).then((res)=>{
                        this.message = res.data
                        console.log(res)
                    })
                        .catch(Error=>{
                            console.log(Error)
                        });
                }
            }
        }
        Vue.createApp(EventHandling).mount('#app')
    </script>
</body>
</html>·